@use "@/styles/mixins" as mixins;

.button {
	@include mixins.padding($all: "medium");
	@include mixins.margin($right: "medium");
	@include mixins.border-radius($all: "large");

	& {
		cursor: pointer;
	}

	&.primary {
		@include mixins.color($bg: "primary", $color: "white");
		@include mixins.padding($all: "medium");
		& {
			transition:
				background-color 0.3s,
				padding 0.3s;
		}

		&:hover {
			@include mixins.lightColor($bg: "primary");
			@include mixins.padding($all: "medium");
			& {
				transition:
					background-color 0.3s,
					padding 0.3s;
			}
		}

		&:active {
			@include mixins.darkColor($bg: "primary");
			@include mixins.padding($all: "small");
			& {
				transition:
					background-color 0.3s,
					padding 0.3s;
			}
		}
	}

	&.light {
		@include mixins.color($bg: "light", $color: "superdark-gray");
		@include mixins.padding($all: "medium");
		& {
			transition:
				background-color 0.3s,
				color 0.3s,
				padding 0.3s;
		}

		&:hover {
			@include mixins.lightColor($bg: "light", $color: "dark-gray");
			@include mixins.padding($all: "medium");
			& {
				transition:
					background-color 0.3s,
					color 0.3s,
					padding 0.3s;
			}
		}

		&:active {
			@include mixins.darkColor($bg: "light", $color: "superdark-gray");
			@include mixins.padding($all: "small");
			& {
				transition:
					background-color 0.3s,
					color 0.3s,
					padding 0.3s;
			}
		}
	}
}
