@use "@/styles/mixins" as mixins;

.list {
	&.disc {
		@include mixins.padding($bottom: "large");
		li {
			@include mixins.padding($bottom: "xsmall");
			@include mixins.margin($left: "medium");
			& {
				list-style-type: disc;
			}
			&:last-child {
				@include mixins.padding($bottom: 0);
			}
		}
	}
	&.number {
		@include mixins.padding($bottom: "large");
		li {
			@include mixins.padding($bottom: "xsmall");
			@include mixins.margin($left: "medium");
			& {
				list-style-type: number;
			}
			&:last-child {
				@include mixins.padding($bottom: 0);
			}
		}
	}
	&.hyphen {
		@include mixins.padding($bottom: "large");
		li {
			@include mixins.padding($left: "xsmall", $bottom: "xsmall");
			@include mixins.margin($left: "medium");
			& {
				list-style-type: "-";
			}
			&:last-child {
				@include mixins.padding($bottom: 0);
			}
		}
	}
	&.border {
		@include mixins.padding($bottom: "large");
		li {
			@include mixins.border($bottom: "medium");
			@include mixins.padding($top: "medium", $bottom: "medium");
			&:last-child {
				// @include mixins.padding($bottom: 0);
				@include mixins.border($bottom: 0);
			}
		}
	}
	&.none {
		@include mixins.padding($bottom: "large");
		li {
			@include mixins.border($bottom: "medium");
			@include mixins.padding($top: "medium", $bottom: "medium");
			&:last-child {
				@include mixins.border($bottom: 0);
			}
		}
	}

	> li .list {
		@include mixins.padding($top: "medium", $bottom: "medium");
	}
}
