@use "@/styles/mixins" as mixins;

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;

	h1 {
		@include mixins.padding($bottom: "large");
		@include mixins.font($size: "xxlarge");
	}

	h2 {
		@include mixins.padding($bottom: "large");
		@include mixins.font($size: "xxlarge");
	}
}
