@use "@/styles/mixins" as mixins;

.comp-b {
	@include mixins.color($bg: "white");
	@include mixins.padding($all: "large");
	@include mixins.border-radius($all: "large");

	.success,
	.success-active {
		@include mixins.font($size: "large");
		@include mixins.color($color: "success");
		@include mixins.padding($left: "medium");
	}

	.success {
		transition: opacity 0.1s;
		opacity: 0%;
	}

	.success-active {
		transition: opacity 0.1s;
		opacity: 1;
	}
}
