@use "@/styles/mixins" as mixins;

.comp-b {
	.var {
		@include mixins.color($bg: "light-gray", $color: "dark-gray");
		@include mixins.font($size: "small");
		@include mixins.padding($all: "xsmall");
		@include mixins.margin($right: "medium");
	}

	.success,
	.success-active {
		@include mixins.font($size: "large");
		@include mixins.color($color: "success");
		@include mixins.padding($left: "medium");
	}

	.success {
		transition: opacity 0.1s;
		opacity: 0%;
	}

	.success-active {
		transition: opacity 0.1s;
		opacity: 1;
	}
}
